<!-- Our Services Begin -->
<section class="rh rh-100 rh-our-services">
  <div class="container">
    <div class="row">

      <!-- Our Services Title -->
      <div class="col-lg-12 col-md-12">
        <div class="rh-section-title">
          <h2>Our Services</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco </p>
        </div>
      </div>

      <!-- Our Services Title -->
      <div class="col-lg-12 col-md-12">
        <div id="tabs-container" class="rh rh-tab-section">
          <ul class="tabs-menu">
            <li class="current"><a href="#tab-1"><i class="fa fa-cutlery" aria-hidden="true"></i>
                <h5>Restaurant</h5>
              </a></li>
            <li><a href="#tab-2"><i class="fa fa-life-ring" aria-hidden="true"></i>
                <h5>Sport-club</h5>
              </a></li>
            <li><a href="#tab-3"><i class="fa fa-car" aria-hidden="true"></i>
                <h5>Pic-up</h5>
              </a></li>
            <li><a href="#tab-4"><i class="fa fa-glass" aria-hidden="true"></i>
                <h5>Bar</h5>
              </a></li>
            <li><a href="#tab-5"><i class="fa fa-child" aria-hidden="true"></i>
                <h5>Gym</h5>
              </a></li>
          </ul>
          <div class="tab">
            <div id="tab-1" class="tab-content">
              <div class="tab-content-img">
                <img src="assets/site/images/our-serivesc-restorant.jpg" alt="our-serivesc-restorant" />
              </div>
              <div class="tab-content-detail">
                <span>The World Class</span>
                <h2>Restaurant & Banquets</h2>
                <p>Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum
                  primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                  Donec velit neque, auctor sit amet aliquam vel,
                  ullamcorper sit amet ligula.
                  Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                  Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit.</p>
                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus
                  suscipit tortor eget felis
                  porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis
                  at tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="tab-content-btm">
                  <h6 class="pull-left">Services Hours : 19.00 - 22.00</h6>
                  <h6 class="pull-right">Services Charge : $15</h6>
                </div>
              </div>
            </div>
            <div id="tab-2" class="tab-content">
              <div class="tab-content-img">
                <img src="assets/site/images/our-serivesc-club.jpg" alt="our-serivesc-club" />
              </div>
              <div class="tab-content-detail">
                <span>The World Class</span>
                <h2>Sport-club & Night Club</h2>
                <p>Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in
                  faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque,
                  auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                  Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                  Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit
                  tortor eget felis
                  porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis
                  at tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="tab-content-btm">
                  <h6 class="pull-left">Services Hours : 19.00 - 22.00</h6>
                  <h6 class="pull-right">Services Charge : $15</h6>
                </div>
              </div>
            </div>
            <div id="tab-3" class="tab-content">
              <div class="tab-content-img">
                <img src="assets/site/images/our-serivesc-picup.jpg" alt="our-serivesc-picup" />
              </div>
              <div class="tab-content-detail">
                <span>The World Class</span>
                <h2>All Time Pic-up Guest</h2>
                <p>Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci
                  luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,
                  ullamcorper sit amet ligula.
                  Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur non nulla sit
                  amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit.</p>
                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                  porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Lorem
                  ipsum dolor sit amet,
                  consectetur adipiscing elit.</p>
                <div class="tab-content-btm">
                  <h6 class="pull-left">Services Hours : 19.00 - 22.00</h6>
                  <h6 class="pull-right">Services Charge : $15</h6>
                </div>
              </div>
            </div>
            <div id="tab-4" class="tab-content">
              <div class="tab-content-img">
                <img src="assets/site/images/our-serivesc-bar.jpg" alt="our-serivesc-bar" />
              </div>
              <div class="tab-content-detail">
                <span>The World Class</span>
                <h2>Guest Bar & Music</h2>
                <p>Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci
                  luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,
                  ullamcorper sit amet ligula.
                  Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur non nulla sit
                  amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit.</p>
                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                  porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Lorem
                  ipsum dolor sit amet,
                  consectetur adipiscing elit.</p>
                <div class="tab-content-btm">
                  <h6 class="pull-left">Services Hours : 19.00 - 22.00</h6>
                  <h6 class="pull-right">Services Charge : $15</h6>
                </div>
              </div>
            </div>
            <div id="tab-5" class="tab-content">
              <div class="tab-content-img">
                <img src="assets/site/images/our-serivesc-gym.jpg" alt="our-serivesc-gym" />
              </div>
              <div class="tab-content-detail">
                <span>The World Class</span>
                <h2>Gym & Fitness Club</h2>
                <p>Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci
                  luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,
                  ullamcorper sit amet ligula.
                  Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur non nulla sit
                  amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit.</p>
                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                  porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Lorem
                  ipsum dolor sit amet,
                  consectetur adipiscing elit.</p>
                <div class="tab-content-btm">
                  <h6 class="pull-left">Services Hours : 19.00 - 22.00</h6>
                  <h6 class="pull-right">Services Charge : $15</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Services Close -->
