<app-detail-page-back></app-detail-page-back>

<!-- Main Content Begin -->
<div class="rh rh-100">

  <!-- Ournews & Events Begin -->
  <section class="rh rh-ournews event">
      <div class="container">
          <div class="row rh-flex">
              <!-- ournews & Events Box -->
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rh-on-12">
                  <div class="rh rh-ournews-box rh-mar-30">
                      <div class="ournews-img">
                          <img src="assets/site/images/event/1.png" alt="1" />
                          <a routerLink="/event"></a>
                      </div>
                      <div class="ournews-detail">
                          <h4><a routerLink="/event">Wedding Event</a></h4>
                          <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 18 September - 21 September</p>
                          <span class="rh">Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</span>
                          <a routerLink="/event" class="rh-check-btn">Book Now</a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rh-on-12">
                  <div class="rh rh-ournews-box rh-mar-30">
                      <div class="ournews-img">
                          <img src="assets/site/images/event/2.png" alt="2" />
                          <a routerLink="/event"></a>
                      </div>
                      <div class="ournews-detail">
                          <h4><a routerLink="/event">Party Event</a></h4>
                          <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 18 September - 21 September</p>
                          <span class="rh">Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</span>
                          <a routerLink="/event" class="rh-check-btn">Book Now</a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rh-on-12">
                  <div class="rh rh-ournews-box rh-mar-30">
                      <div class="ournews-img">
                          <img src="assets/site/images/event/3.png" alt="3" />
                          <a routerLink="/event"></a>
                      </div>
                      <div class="ournews-detail">
                          <h4><a routerLink="/event">Beach Wedding</a></h4>
                          <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 18 September - 21 September</p>
                          <span class="rh">Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</span>
                          <a routerLink="/event" class="rh-check-btn">Book Now</a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rh-on-12">
                  <div class="rh rh-ournews-box rh-mar-30">
                      <div class="ournews-img">
                          <img src="assets/site/images/event/4.png" alt="4" />
                          <a routerLink="/event"></a>
                      </div>
                      <div class="ournews-detail">
                          <h4><a routerLink="/event">Bussiness Event</a></h4>
                          <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 18 September - 21 September</p>
                          <span class="rh">Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</span>
                          <a routerLink="/event" class="rh-check-btn">Book Now</a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rh-on-12">
                  <div class="rh rh-ournews-box rh-mar-30">
                      <div class="ournews-img">
                          <img src="assets/site/images/event/5.png" alt="5" />
                          <a routerLink="/event"></a>
                      </div>
                      <div class="ournews-detail">
                          <h4><a routerLink="/event">Wedding Reception</a></h4>
                          <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 18 September - 21 September</p>
                          <span class="rh">Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</span>
                          <a routerLink="/event" class="rh-check-btn">Book Now</a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rh-on-12">
                  <div class="rh rh-ournews-box rh-mar-30">
                      <div class="ournews-img">
                          <img src="assets/site/images/event/6.png" alt="6" />
                          <a routerLink="/event"></a>
                      </div>
                      <div class="ournews-detail">
                          <h4><a routerLink="/event">Dance Event</a></h4>
                          <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 18 September - 21 September</p>
                          <span class="rh">Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</span>
                          <a routerLink="/event" class="rh-check-btn">Book Now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Ournews & Events Close -->

</div>
<!-- Main Content Close -->
