
<app-detail-page-back></app-detail-page-back>

<!-- Main Content Begin -->
<div class="rh rh-100">
  <!-- About Royal Hotel Begin -->
  <div class="container">
      <div class="row">
          <div class="col-lg-9 col-md-8 col-sm-12">
              <div class="rh-detail-left">
                  <!-- About Royal Hotel Slider -->
                  <div class="regular slider">
                      <div><img src="assets/site/images/detail/1.jpg" alt="1" /></div>
                      <div><img src="assets/site/images/detail/2.jpg" alt="2" /></div>
                      <div><img src="assets/site/images/detail/3.jpg" alt="3" /></div>
                      <div><img src="assets/site/images/detail/4.jpg" alt="4" /></div>
                      <div><img src="assets/site/images/detail/5.jpg" alt="5" /></div>
                      <div><img src="assets/site/images/detail/6.jpg" alt="6" /></div>
                      <div><img src="assets/site/images/detail/7.jpg" alt="7" /></div>
                      <div><img src="assets/site/images/detail/8.jpg" alt="8" /></div>
                      <div><img src="assets/site/images/detail/9.jpg" alt="9" /></div>
                      <div><img src="assets/site/images/detail/10.jpg" alt="10" /></div>
                      <div><img src="assets/site/images/detail/11.jpg" alt="11" /></div>
                      <div><img src="assets/site/images/detail/12.jpg" alt="12" /></div>
                      <div><img src="assets/site/images/detail/13.jpg" alt="13" /></div>
                      <div><img src="assets/site/images/detail/14.jpg" alt="14" /></div>
                      <div><img src="assets/site/images/detail/15.jpg" alt="15" /></div>
                      <div><img src="assets/site/images/detail/16.jpg" alt="16" /></div>
                      <div><img src="assets/site/images/detail/17.jpg" alt="17" /></div>
                      <div><img src="assets/site/images/detail/18.jpg" alt="18" /></div>
                  </div>

                  <!-- About Royal Hotel Detail -->
                  <div class="rh-about-hotel rh">
                      <h4>About Royal Hotel</h4>
                      <p>Lorem ipsum dolor sit amet, te his solum dicunt eligendi. Adhuc malis exerci ne eum. Ne vel errem similique, pro id veri postea atomorum. Et mei tincidunt efficiendi adversarium. Vero consequat cotidieque ad eam. Ea duis errem
                          qui, impedit blandit sed eu. Ius diam vivendo ne.</p>
                      <p>Iudico omnesque vis at, ius an laboramus adversarium. An eirmod doctus admodum est, vero numquam et mel, an duo modo error. No affert timeam mea, legimus ceteros his in. Aperiri honestatis sit at. Eos aeque fuisset ei, case
                          denique eam ne. Augue invidunt has ad, ullum debitis mea ei, ne aliquip dignissim nec. </p>
                      <div class="rh-order-list">
                          <span>Ordered list:</span>
                          <ul>
                              <li>Vero numquam et mel, an duo modo error</li>
                              <li>Case denique eam ne</li>
                              <li>Ea duis errem qui</li>
                          </ul>
                      </div>
                      <div class="rh-order-list rh-un">
                          <span>Unordered list:</span>
                          <ul>
                              <li>Vero numquam et mel, an duo modo error</li>
                              <li>Case denique eam ne</li>
                              <li>Ea duis errem qui</li>
                          </ul>
                      </div>
                  </div>

                  <!-- Royal Services and Facilities -->
                  <div class="rh-about-hotel rh rh-rsf">
                      <h4>Royal Services and Facilities</h4>
                      <ul class="rh-ul-30">
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>24 hour reception</p>
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Internet point</p>
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Wi-Fi</p>
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Fax service</p>
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Tourist information</p>
                          </li>
                          <li class="red"><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Bookings for trips</p>
                          </li>
                      </ul>
                      <ul class="rh-ul-40">
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Bookings for guided tours</p>
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Bookings for shows and museums</p>
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Concierge</p>
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Night porter</p>
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Left luggage</p>
                          </li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Ironing service</p>
                          </li>
                      </ul>
                      <ul class="rh-ul-30">
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Hall</li>
                          <li class="red"><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Terrace</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Bar</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Breakfast</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i>
                              <p>Gluten free breakfast available</li>
                      </ul>
                  </div>

                  <!-- Availability -->
                  <div class="rh-about-hotel rh rh-rsf">
                      <h4>Availability</h4>
                      <!-- <div id='calendar'></div> -->
                      <div class="availability-right">
                          <ul>
                              <li><i class="fa fa-circle" aria-hidden="true"></i>Available</li>
                              <li><i class="fa fa-circle" aria-hidden="true"></i>Not Available</li>
                              <li><i class="fa fa-circle" aria-hidden="true"></i>Booking Closed</li>
                              <li><i class="fa fa-circle" aria-hidden="true"></i>Number of rooms/house left</li>
                          </ul>
                          <a href="javascript:;" class="rh-check-btn">Book Now</a>
                      </div>
                  </div>

                  <!-- Next And Preview -->
                  <div class="rh-next-prew">
                      <div class="arrow pull-left">
                          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                          <a href="javascript:;">Royal Phuket City Hotel Russia</a>
                      </div>
                      <div class="arrow pull-right">
                          <a href="javascript:;">France Effiel Tower</a>
                          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                      </div>
                  </div>

                  <!-- Review -->
                  <div class="rh-review">
                      <div class="review-detail pull-left">
                          <span>4.9</span>
                          <ul>
                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                              <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                          </ul>
                          <p>211 Reviews</p>
                      </div>
                      <div class="review-button pull-right">
                          <a class="rh-check-btn" href="javascript:;">Write a review</a>
                      </div>
                  </div>

                  <!-- User Comments -->
                  <div class="rh-comment">
                      <ul>
                          <li>
                              <div class="rh-user-comment">
                                  <img src="assets/site/images/comment_1.jpg" alt="comment_1" />
                                  <div class="user-detail">
                                      <span><a href="javascript:;">Jamies Giroux</a></span>
                                      <ul>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      </ul>
                                      <p>Curabitur eleifend ut magna nec cursus. Aliquam odio orci, dictum id justo ut, porttitor dictum neque. Ut volutpat nunc dolor, eget maximus dui gravida sed. !</p>
                                      <div class="category">
                                          <p>Oct 8, 2016 at 5:31 pm</p>
                                          <span><a href="javascript:;">Replay</a></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="rh-user-comment in-review">
                                  <img src="assets/site/images/comment_2.jpg" alt="comment_2" />
                                  <div class="user-detail">
                                      <span><a href="javascript:;">Clara Barton</a></span>
                                      <ul>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                      </ul>
                                      <p>Curabitur eleifend ut magna nec cursus. Aliquam odio orci, dictum id justo ut, porttitor dictum neque. Ut volutpat nunc dolor, eget maximus dui gravida sed. !</p>
                                      <div class="category">
                                          <p>Oct 8, 2016 at 5:31 pm</p>
                                          <span><a href="javascript:;">Replay</a></span>
                                      </div>
                                  </div>
                              </div>
                              <div>

                              </div>
                          </li>
                          <li>
                              <div class="rh-user-comment">
                                  <img src="assets/site/images/comment_3.jpg" alt="comment_3" />
                                  <div class="user-detail">
                                      <span><a href="javascript:;">Rosa Parks</a></span>
                                      <ul>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      </ul>
                                      <p>Curabitur eleifend ut magna nec cursus. Aliquam odio orci, dictum id justo ut, porttitor dictum neque. Ut volutpat nunc dolor, eget maximus dui gravida sed. !</p>
                                      <div class="category">
                                          <p>Oct 8, 2016 at 5:31 pm</p>
                                          <span><a href="javascript:;">Replay</a></span>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>

                  <!-- Submit a Review -->
                  <div class="rh-about-hotel rh-btm rh">
                      <h4>Submit a review</h4>
                      <form class="submit-form pull-left">
                          <div class="form-group">
                              <textarea cols="20" class="form-control" placeholder="Tell about your experience or leave a tip for others"></textarea>
                          </div>
                          <div class="form-group rh-f-50">
                              <input type="text" name="name" class="form-control" placeholder="name">
                          </div>
                          <div class="form-group rh-f-50">
                              <input type="email" name="email" class="form-control" placeholder="email">
                          </div>
                      </form>
                      <div class="submit pull-right">
                          <p>Give your Rating</p>
                          <div class="submit-star">
                              <span>Quaility</span>
                              <ul>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                              </ul>
                          </div>
                          <div class="submit-star">
                              <span>Service</span>
                              <ul>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                              </ul>
                          </div>
                          <div class="submit-star">
                              <span>Response</span>
                              <ul>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                              </ul>
                          </div>
                          <a href="javascript:;" class="rh-check-btn">Submit</a>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Sidebar Detail -->
          <div class="col-lg-3 col-md-4 col-sm-12">
              <div class="rh-detail-right">

                  <div class="row rh-flex">
                      <div class="col-md-12 col-sm-6 col-xs-6 col-sxs-12">
                          <!-- Your Reservation Begin -->
                          <div class="rh-reservation">
                              <h5>Your Reservation</h5>
                              <form method="post" action="#">
                                  <div class="form-group">
                                      <input id="arrivalDate" type="text" name="Arrival date" class="form-control" placeholder="Arrival date">
                                  </div>
                                  <div class="form-group">
                                      <input id="departureDate" type="text" name="Arrival date" class="form-control" placeholder="Departure date">
                                  </div>
                                  <div class="form-group">
                                      <select class="selectpicker">
                                          <option>Adult</option>
                                          <option>1 Adult</option>
                                          <option>2 Adult</option>
                                          <option>3 Adult</option>
                                          <option>4 Adult</option>
                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <select class="selectpicker">
                                          <option>Children</option>
                                          <option>1</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                      </select>
                                  </div>
                                  <a class="rh-check-btn" href="javascript:;">Book Now</a>
                              </form>
                          </div>
                          <!-- Your Reservation Close -->
                      </div>

                      <div class="col-md-12 col-sm-6 col-xs-6 col-sxs-12">
                          <!-- Need Royal Help? Begin -->
                          <div class="rh-need-help">
                              <h5>Need Royal Help?</h5>
                              <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                              <a href="tel:+919173495648">917 349 5648</a>
                          </div>
                          <!-- Need Royal Help? Close -->
                      </div>

                      <div class="col-md-12 col-sm-6 col-xs-6 col-sxs-12">
                          <!-- Why Book with us? Begin -->
                          <div class="rh-reservation">
                              <h5>Why Book with us?</h5>
                              <ul class="wbws">
                                  <li>
                                      <i class="fa fa-building-o" aria-hidden="true"></i>
                                      <div class="why-book-list">
                                          <span><a href="javascript:;">176,00+ Hotels</a></span>
                                          <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                      </div>
                                  </li>
                                  <li>
                                      <i class="fa fa-life-ring" aria-hidden="true"></i>
                                      <div class="why-book-list">
                                          <span><a href="javascript:;">Low Rates & Savings</a></span>
                                          <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                      </div>
                                  </li>
                                  <li>
                                      <i class="fa fa-user" aria-hidden="true"></i>
                                      <div class="why-book-list">
                                          <span><a href="javascript:;">Excellent Support</a></span>
                                          <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <!-- Why Book with us? Close -->
                      </div>

                      <div class="col-md-12 col-sm-6 col-xs-6 col-sxs-12">
                          <!-- Similar Listings Begin -->
                          <div class="rh-reservation">
                              <h5>Similar Listings</h5>
                              <ul class="similar">
                                  <li>
                                      <img src="assets/site/images/similer_img1.jpg" alt="similer_img1" />
                                      <div class="why-book-list">
                                          <span><a routerLink="single-room">Luxury Hotel And Resort</a></span>
                                          <p>$ 230.00 per day</p>
                                      </div>
                                  </li>
                                  <li>
                                      <img src="assets/site/images/similer_img2.jpg" alt="similer_img2" />
                                      <div class="why-book-list">
                                          <span><a routerLink="single-room">Deluxe Hotel And Resort</a></span>
                                          <p>$ 111.00 per day</p>
                                      </div>
                                  </li>
                                  <li>
                                      <img src="assets/site/images/similer_img3.jpg" alt="similer_img3" />
                                      <div class="why-book-list">
                                          <span><a routerLink="single-room">Sluite Hotel And Resort</a></span>
                                          <p>$ 99.00 per day</p>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <!-- Similar Listings Close -->
                      </div>

                      <div class="col-md-12 col-sm-6 col-xs-6 col-sxs-12">
                          <!-- AdVertise Begin -->
                          <div class="rh-reservation addvertise">
                              <img src="assets/site/images/advertise.jpg" alt="advertise" />
                          </div>
                          <!-- AdVertise Close -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- About Royal Hotel Close -->
</div>
<!-- Main Content Close -->

<!-- Footer Begin -->
<footer class="rh">
  <div class="rh-100 rh-footer">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 rh-f-30 rh-f-100">
                  <div class="rh-footer-box">
                      <img class="footer-logo" src="assets/site/images/Logo-footer.png" alt="footer-logo" />
                      <p>You have questions regarding our services? Contact us, we will be happy to help you out!</p>
                      <ul class="footer-about">
                          <li><a href="mailto:royalluxurystay@gmail.com">royalluxurystay@gmail.com</a></li>
                          <li><a href="javascript:;">70 Bowman St.South Windsor, CT 06074</a></li>
                          <li><a href="tel:+91000-000-0000">+91 000-000-0000</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 rh-f-30 rh-f-50">
                  <div class="rh-footer-box">
                      <h5>Hotel</h5>
                      <ul class="footer-menu list">
                          <li><a href="javascript:;">Accommodation</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="javascript:;">Services & Amenities</a></li>
                          <li><a href="javascript:;">Dining</a></li>
                          <li><a href="javascript:;">Spa</a></li>
                          <li><a href="javascript:;">Destination</a></li>
                          <li><a href="javascript:;">Offer</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 rh-fs-30 rh-f-50">
                  <div class="rh-footer-box">
                      <h5>Inquires</h5>
                      <ul class="footer-menu list">
                          <li><a href="javascript:;">About  Four Seasons</a></li>
                          <li><a href="javascript:;">Press Room</a></li>
                          <li><a href="javascript:;">Gift Cards</a></li>
                          <li><a href="javascript:;">Residences</a></li>
                          <li><a href="javascript:;">Careers</a></li>
                          <li><a href="contact.html">Contact us</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 rh-f-100">
                  <div class="rh-footer-box">
                      <h5>Photo Gallery</h5>
                      <ul class="footer-menu gallery">
                          <li>
                              <a routerLink="single-room"><img src="assets/site/images/footer-gallery-1.jpg" alt="footer-gallery-1" /></a>
                          </li>
                          <li>
                              <a routerLink="single-room"><img src="assets/site/images/footer-gallery-2.jpg" alt="footer-gallery-2" /></a>
                          </li>
                          <li>
                              <a routerLink="single-room"><img src="assets/site/images/footer-gallery-3.jpg" alt="footer-gallery-3" /></a>
                          </li>
                          <li>
                              <a routerLink="single-room"><img src="assets/site/images/footer-gallery-4.jpg" alt="footer-gallery-4" /></a>
                          </li>
                          <li>
                              <a routerLink="single-room"><img src="assets/site/images/footer-gallery-5.jpg" alt="footer-gallery-5" /></a>
                          </li>
                          <li>
                              <a routerLink="single-room"><img src="assets/site/images/footer-gallery-6.jpg" alt="footer-gallery-6" /></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="rh footer-btm">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h6 class="pull-left">Copyrights &copy; 2017 Royal Luxury Stay</h6>
                  <span class="pull-right">Powered by <a target="_blank" href="http://www.bsquaresoft.com/">Bsquaresoft.com</a></span>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- Footer Close -->

<!-- Backe To Top Begin -->
<div id="back_to_top" class="active">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
<!-- Backe To Top Close -->

<!-- Login Form Begin -->
<div class="modal fade rh-login" tabindex="-1" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                  <i class="fa fa-times" aria-hidden="true"></i>
              </button>
              <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="well">
                          <form id="loginForm" method="POST" action="#">
                              <div class="form-group">
                                  <label for="username" class="control-label">Username</label>
                                  <input type="text" class="form-control" id="username" name="username" required title="Please enter you username" placeholder="example@gmail.com">
                              </div>
                              <div class="form-group">
                                  <label class="control-label">Password</label>
                                  <input type="password" class="form-control" required title="Please enter your password" placeholder="Password">
                              </div>
                              <div class="alert alert-error hide">Wrong username og password</div>
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" name="remember"> Remember login
                                  </label>
                                  <p class="help-block">(if this is a private computer)</p>
                              </div>
                              <a href="javascript:;" class="rh-check-btn btn-block">Login</a>
                              <a href="javascript:;" class="btn btn-default btn-block">Create Account</a>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Login Form Close -->

<!-- Sign up Form Begin -->
<div class="modal fade rh-signup" tabindex="-1" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                  <i class="fa fa-times" aria-hidden="true"></i>
              </button>
              <h4 class="modal-title">Sign Up</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-12">
                      <div class="well">
                          <form id="signup" method="POST" action="#">
                              <div class="row">
                                  <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                      <label for="firstname" class="control-label">First Name</label>
                                      <input type="text" class="form-control" id="firstname" name="firstname" required title="Please enter your firstname" placeholder="First Name" />
                                  </div>
                                  <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                      <label for="lastname" class="control-label">Last Name</label>
                                      <input type="text" class="form-control" id="lastname" name="lastname" required title="Please enter your lastname" placeholder="Last Name" />
                                  </div>
                                  <div class="form-group  col-md-12 col-sm-12 col-xs-12">
                                      <label for="email" class="control-label">Email</label>
                                      <input type="text" class="form-control" id="email" name="email" required title="Please enter your email" placeholder="Email" />
                                  </div>
                                  <div class="form-group  col-md-12 col-sm-12 col-xs-12">
                                      <label for="email" class="control-label">Phone</label>
                                      <input type="text" class="form-control" id="phone" name="phone" required title="Please enter your phone" placeholder="Phone" />
                                  </div>
                                  <div class="form-group  col-md-12 col-sm-12 col-xs-12">
                                      <label for="address" class="control-label">Address 1</label>
                                      <input type="text" class="form-control" id="address" name="address" required title="Please enter your address" placeholder="Address" />
                                  </div>
                                  <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                      <label class="control-label">Password</label>
                                      <input type="password" class="form-control" required title="Please enter your password" placeholder="Password" />
                                  </div>
                                  <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                      <label class="control-label">Conform Password</label>
                                      <input type="password" class="form-control" required title="conform password" placeholder="Conform Password" />
                                  </div>
                                  <div class="alert alert-error hide">Wrong username og password</div>
                                  <div class="form-group signup col-md-12">
                                      <label>
                                          <input type="checkbox" name="remember" /> Remember login
                                      </label>
                                      <a href="javascript:;" class="rh-check-btn btn-block">Create Account</a>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Sign up Form Close -->
