<!-- Testimonial Begin -->
<section class="rh rh-100 rh-testimonial">
  <div class="container">
    <div class="row">

      <!-- Our Services Title -->
      <div class="col-lg-12 col-md-12">
        <div class="rh-section-title">
          <h2>Testimonial</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
        </div>
      </div>

      <!-- Testimonial Slider -->
      <div class="rh-testimonial-slider">
        <div class="lazy slider" data-sizes="50vw">
          <div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 rh-t-50">
              <img src="assets/site/images/author/1.jpg" alt="Author" />
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 rh-t-100">
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form. All the Lorem Ipsum generators on the Internet tend to repeat predefined
                chunks as necessary, making
                this the first true generator on the Internet.</p>
              <span><a href="javascript:;">Ida Stephens</a></span>
            </div>
          </div>
          <div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 rh-t-50">
              <img src="assets/site/images/author/2.jpg" alt="Author" />
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 rh-t-100">
              <p>Proin eget tortor risus. Proin eget tortor risus. Donec rutrum congue leo eget malesuada. Nulla
                porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet
                elit, eget tincidunt
                nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
              <span><a href="javascript:;">Emma Watson</a></span>
            </div>
          </div>
          <div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 rh-t-50">
              <img src="assets/site/images/author/3.jpg" alt="Author" />
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 rh-t-100">
              <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat.
                Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.
                Vivamus suscipit tortor
                eget felis porttitor volutpat. Donec sollicitudin molestie malesuada.</p>
              <span><a href="javascript:;">Olivi Sophia</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial Close -->
