<!-- Main Content Begin -->
<div class="rh rh-100 section-booking">
  <!-- Blog Page Begin -->
  <div class="container">
      <div class="row">
          <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
              <div class="rh-detail-left rh-blog">
                  <!-- Blog Image Begin -->
                  <div class="rh rh-blog-img">
                      <a routerLink="/blog"><img src="assets/site/images/Blog/4.jpg" alt="about-detail"></a>
                  </div>

                  <!-- About Royal Hotel Detail -->
                  <div class="rh-about-hotel rh">
                      <h4>Lorem Ipsums Un Voluptas Sadipts Nemis Sits Fugiat Dolores</h4>
                      <div class="rh-blog-category">
                          <span>By</span>
                          <span><a href="javascript:;">Admin</a></span>
                          <ul>
                              <li><a href="javascript:;">Hotel,</a></li>
                              <li><a href="javascript:;">travel,</a></li>
                              <li><a href="javascript:;">Booking</a></li>
                          </ul>
                          <span class="com-tag"><a href="javascript:;">12 Comments</a></span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, te his solum dicunt eligendi. Adhuc malis exerci ne eum. Ne vel errem similique, pro id veri postea atomorum. Et mei tincidunt efficiendi adversarium. Vero consequat cotidieque ad eam. Ea duis errem
                          qui, impedit blandit sed eu. Ius diam vivendo ne.</p>
                      <p>Iudico omnesque vis at, ius an laboramus adversarium. An eirmod doctus admodum est, vero numquam et mel, an duo modo error. No affert timeam mea, legimus ceteros his in. Aperiri honestatis sit at. Eos aeque fuisset ei, case
                          denique eam ne. Augue invidunt has ad, ullum debitis mea ei, ne aliquip dignissim nec. </p>
                  </div>
                  <div class="rh-blog-social">
                      <ul class="event-sigle-btn social">
                          <li><span>Share:</span></li>
                          <li><a class="" href="javascript:;"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a class="" href="javascript:;"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a class="" href="javascript:;"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                          <li><a class="" href="javascript:;"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                          <li><a class="" href="javascript:;"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                      </ul>
                  </div>

                  <!-- Review -->
                  <div class="rh-review">
                      <div class="review-detail pull-left">
                          <span>4.9</span>
                          <ul>
                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                              <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                          </ul>
                          <p>211 Reviews</p>
                      </div>
                      <div class="review-button pull-right">
                          <a class="rh-check-btn" href="javascript:;">Write a review</a>
                      </div>
                  </div>

                  <!-- User Comments -->
                  <div class="rh-comment">
                      <ul>
                          <li>
                              <div class="rh-user-comment">
                                  <img src="assets/site/images/comment_1.jpg" alt="comment_1" />
                                  <div class="user-detail">
                                      <span><a href="javascript:;">Jamies Giroux</a></span>
                                      <ul>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      </ul>
                                      <p>Curabitur eleifend ut magna nec cursus. Aliquam odio orci, dictum id justo ut, porttitor dictum neque. Ut volutpat nunc dolor, eget maximus dui gravida sed. !</p>
                                      <div class="category">
                                          <p>Oct 8, 2016 at 5:31 pm</p>
                                          <span><a href="javascript:;">Replay</a></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="rh-user-comment in-review">
                                  <img src="assets/site/images/comment_2.jpg" alt="comment_2" />
                                  <div class="user-detail">
                                      <span><a href="javascript:;">Clara Barton</a></span>
                                      <ul>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                      </ul>
                                      <p>Curabitur eleifend ut magna nec cursus. Aliquam odio orci, dictum id justo ut, porttitor dictum neque. Ut volutpat nunc dolor, eget maximus dui gravida sed. !</p>
                                      <div class="category">
                                          <p>Oct 8, 2016 at 5:31 pm</p>
                                          <span><a href="javascript:;">Replay</a></span>
                                      </div>
                                  </div>
                              </div>
                              <div>

                              </div>
                          </li>
                          <li>
                              <div class="rh-user-comment">
                                  <img src="assets/site/images/comment_3.jpg" alt="comment_3" />
                                  <div class="user-detail">
                                      <span><a href="javascript:;">Rosa Parks</a></span>
                                      <ul>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      </ul>
                                      <p>Curabitur eleifend ut magna nec cursus. Aliquam odio orci, dictum id justo ut, porttitor dictum neque. Ut volutpat nunc dolor, eget maximus dui gravida sed. !</p>
                                      <div class="category">
                                          <p>Oct 8, 2016 at 5:31 pm</p>
                                          <span><a href="javascript:;">Replay</a></span>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>

                  <!-- Submit a Review -->
                  <div class="rh-about-hotel rh-btm rh">
                      <h4>Send Us a Message</h4>
                      <form class="submit-form pull-left">
                          <div class="form-group">
                              <textarea cols="20" class="form-control" placeholder="Your Message"></textarea>
                          </div>
                          <div class="form-group rh-f-50">
                              <input type="text" name="name" class="form-control" placeholder="name">
                          </div>
                          <div class="form-group rh-f-50">
                              <input type="email" name="email" class="form-control" placeholder="email">
                          </div>
                      </form>
                      <div class="submit pull-right">
                          <p>Give your Rating</p>
                          <div class="submit-star">
                              <span>Rating</span>
                              <ul>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                              </ul>
                          </div>
                          <a href="javascript:;" class="rh-check-btn">Submit</a>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="row">
                  <div class="col-md-12 col-sm-6 col-xs-6 col-sxs-12">
                      <div class="rh rh-reservation rh-blog-sidebar">
                          <h5>Categories</h5>
                          <ul>
                              <li><a href="single-rooms.html">Deluxe Rooms (09)</a></li>
                              <li><a href="single-rooms.html">Non Deluxe Rooms (11)</a></li>
                              <li><a href="single-rooms.html">Luxury Rooms (41)</a></li>
                              <li><a href="single-rooms.html">Double Rooms (30)</a></li>
                              <li><a href="single-rooms.html">Separate Rooms (26)</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-12 col-sm-6 col-xs-6 col-sxs-12">
                      <div class="rh rh-reservation latest-event">
                          <h5>Latest Posts</h5>
                          <ul class="similar">
                              <li>
                                  <img src="assets/site/images/event/7.png" alt="7">
                                  <div class="why-book-list">
                                      <span><a routerLink="/blog">The Range Concert</a></span>
                                      <p>25 dec - 26 Dec</p>
                                  </div>
                              </li>
                              <li>
                                  <img src="assets/site/images/event/8.png" alt="8">
                                  <div class="why-book-list">
                                      <span><a routerLink="/blog">March to The Shore</a></span>
                                      <p>06 jan - 07 jan</p>
                                  </div>
                              </li>
                              <li>
                                  <img src="assets/site/images/event/9.png" alt="9">
                                  <div class="why-book-list">
                                      <span><a routerLink="/blog">Classical Piano Music</a></span>
                                      <p>15 Feb - 21 Feb</p>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-12 col-sm-6 col-xs-6 col-sxs-12">
                      <div class="rh rh-reservation rh-blog-tag">
                          <h5>Tags</h5>
                          <ul>
                              <li><a href="javascript:;">Royel Hotel</a></li>
                              <li><a href="javascript:;">Party</a></li>
                              <li><a href="javascript:;">Dance</a></li>
                              <li><a href="javascript:;">Greece</a></li>
                              <li><a href="javascript:;">Holidays</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-12 col-sm-6 col-xs-6 col-sxs-12">
                      <div class="rh rh-reservation rh-blog-sidebar">
                          <h5>Archive</h5>
                          <ul>
                              <li><a routerLink="/blog">May 2017 (09)</a></li>
                              <li><a routerLink="/blog">June 2017 (11)</a></li>
                              <li><a routerLink="/blog">July 2017 (41)</a></li>
                              <li><a routerLink="/blog">August 2017 (30)</a></li>
                              <li><a routerLink="/blog">September 2017 (26)</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-12 col-sm-6 col-xs-6 col-sxs-12">
                      <div class="rh-reservation addvertise">
                          <img src="assets/site/images/advertise.jpg" alt="advertise">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Blog Page Close -->
</div>
<!-- Main Content Close -->
