 <!-- Detail-page back Begin -->
 <section class="rh-detail-bg">
  <div class="container">
      <div class="row">
          <div class="rh-detail-widgets">
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 rh-de-12">
                  <h2><a href="javascript:;">Corinthia Hotel Lisboa & Spa</a></h2>
                  <div class="rating-star">
                      <ul>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      </ul>
                      <span><a href="javascript:;">9 Reviews</a></span>
                  </div>
                  <div class="rh">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <p>2600 Benjamin Franklin Pkwy, Philadelphia, PA 19130, USA</p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 rh-de-12">
                  <div class="pull-right detail-right">
                      <span>Start From</span>
                      <h3>$190.00 / Day</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Detail-page back Close -->
